body {
    background-color: rgb(215, 188, 239);
    color: rgb(16, 3, 29);
}
h1{
    color: rgb(111, 0, 215);
    text-align: center;
}
h2{
    text-align: center;
    color:rgb(73, 22, 98);

}
ul{

    text-align: center;
}
li {
    display: inline-block;
    border: 1px solid black;
padding: 8px;
background-color: transparent;
margin-right: 8px;
align-content: center;
border-style: groove;
}

img {
    border-radius: 50%;
    display: block;

}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #e0a4ec;

  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 .topnav a:hover {
    text-decoration: underline;
  }
  